{% extends postorius_base_template %}
{% load i18n %}
{% load bootstrap_tags %}
{% load nav_helpers %}

{% block subtitle %}
{% trans 'Profile' %} | {{ user.username }}
{% endblock %}

{% block main %}

    {% user_nav 'profile' 'User Profile' %}

    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <td>{% trans 'Mailman display name' %}</td>
                <td>{{ mm_user.display_name }}</td>
            </tr>
            <tr>
                <td>{% trans 'Username' %}</td>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <td>{% trans 'Main email' %}</td>
                <td>{{ user.email}}</td>
            </tr>
            <tr>
                <td>{% trans 'Other emails' %}</td>
                <td><ul class="unstyled">
                    {% for email in user.other_emails %}
                        <li>{{ email }}</li>
                    {% endfor %}
                </ul></td>
            </tr>
        </tbody>
    </table>
    <hr />
    <form class="form-horizontal" action="" method="post">
        {% render_form_horizontal name_form 2 5 'Change display name' %}
        <input type="hidden" name="formname" value="displayname" />
    </form>
    <p>
        {% blocktrans %}
            You can add other addresses to your profile,
            to use different addresses for your subscriptions.
        {% endblocktrans %}
    </p>
    <form class="form-horizontal" action="" method="post">
        {% render_form_horizontal form 2 5 'Add email address' %}
    </form>
{% endblock main %}
